@{
    var title = Layout.Title = T("Lost Password");

    var titleShape = New.Parts_Title(Title: title);
    Layout.BeforeMain.Add(titleShape, "50");
}
@*<h1>@Html.TitleForPage(T("Lost Password").ToString())</h1>*@
<p>@T("Please enter your username or email address. You will receive a link to create a new password via email.")</p>
@Html.ValidationSummary(T("Request sending was unsuccessful. Please correct the errors and try again.").ToString()) 
@using (Html.BeginFormAntiForgeryPost(Url.Action("RequestLostPassword", "Account", new { area = "MainBit.Users", ReturnUrl = Request.QueryString["ReturnUrl"] }), FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="h2">@T("Account Information")</div>
    <div class="form-group">
        <label for="username" class="col-xs-3 control-label">@T("Login or e-mail")</label>
        <div class="col-xs-9">
            @Html.TextBox("username", null, new { @class = "form-control text" })
            @*@Html.ValidationMessage("username")*@
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
            <button class="btn btn-primary" type="submit">@T("Send Request")</button>
        </div>
    </div>
 } 