@*@using Orchard.Mvc.Extensions
@model MainBit.Users.Models.UserPersonalDataPart
<fieldset>
    @Html.LabelFor(m => m.LastName, T("Last name"))
    @Html.TextBoxFor(m => m.LastName, new { @class = "text medium" })
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.FirstName, T("First name"))
    @Html.TextBoxFor(m => m.FirstName, new { @class = "text medium" })
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.MiddleName, T("Middle name"))
    @Html.TextBoxFor(m => m.MiddleName, new { @class = "text medium" })
</fieldset>*@
@using Orchard.Mvc.Extensions
@model MainBit.Users.Models.UserPersonalDataPart
<div class="form-group">
    <label for="@Html.NameFor(m => m.LastName)" class="col-xs-3 control-label">@T("Last name"):</label>
    <div class="col-xs-9">
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control text" })
    </div>
</div>
<div class="form-group">
    <label for="@Html.NameFor(m => m.FirstName)" class="col-xs-3 control-label">@T("First name"):</label>
    <div class="col-xs-9">
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control text" })
    </div>
</div>
<div class="form-group">
    <label for="@Html.NameFor(m => m.MiddleName)" class="col-xs-3 control-label">@T("Middle name"):</label>
    <div class="col-xs-9">
        @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control text" })
    </div>
</div>